{{{partial 'layout_header'}}}
  <body>
    <div class="navbar navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="glyphicon glyphicon-bar"></span>
              <span class="glyphicon glyphicon-bar"></span>
              <span class="glyphicon glyphicon-bar"></span>
            </button>
          <a class="navbar-brand" href="{{mainsPath}}">Geddy App</a>
        </div>
        
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active">{{{linkTo 'Home' mainsPath}}}</li>
              <li>{{{linkTo 'Tutorial' 'http://geddyjs.org/tutorial'}}}</li>
              <li>{{{linkTo 'Docs' 'http://geddyjs.org/documentation'}}}</li>
            </ul>
          </div><!--/.navbar-collapse -->
      </div>
    </div>
    <div class="container">
      {{{displayFlash flash}}}
      {{{render}}}
    </div>
  </body>
{{{partial 'layout_footer'}}}

