<div class="hero-unit">
  <form id="<%= names.property.singular %>-form" class="form-horizontal" action="/<%= names.url.plural %>/<@= params.id @>?_method=PUT" method="POST">
    <fieldset>
      <legend>Update this <%= names.constructor.singular %></legend>
      <@ if(params.errors) { @>
      <div class="control-group">
        <ul>
        <@ for(var err in params.errors) { @>
          <li><@= params.errors[err]; @></li>
        <%% } %>
        </ul>
      </div>
      <%% } %>
<% for(var i in properties) { -%>
<% if(i !== 'id') { -%>
      <div class="control-group">
        <label for="<%= i %>"><%= i %></label>
        <div class="controls">
<% if(properties[i] === 'string') { -%>
<% if(i === 'password') { -%>
          <@- contentTag('input', <%= names.property.singular %>.<%= i %>, {type:'password', class:'span6', placeholder:'enter <%= i %>', name:'<%= i %>'}) @>
<% } else { -%>
          <@- contentTag('input', <%= names.property.singular %>.<%= i %>, {type:'text', class:'span6', placeholder:'enter <%= i %>', name:'<%= i %>'}) @>
<% } -%>
<% } else if(properties[i] === 'number' || properties[i] === 'int') { -%>
          <@- contentTag('input', <%= names.property.singular %>.<%= i %>, {type:'number', class:'span2', placeholder:'enter <%= i %>', name:'<%= i %>'}) @>
<% } else if(properties[i] === 'boolean') { -%>
          <select name="<%= i %>", class="span1">
            <@ if(<%= names.property.singular %>.<%= i %>) { @>
            <option>false</option>
            <option selected>true</option>
            <@ } else { -@>
            <option selected>false</option>
            <option>true</option>
            <@ } -@>
          </select>
<% } else if(properties[i] === 'datetime') {  -%>
          <@- contentTag('input', '', {type:'datetime', class:'span3', name:'<%= i %>'}) @>
<% } else if(properties[i] === 'date') { -%>
          <@- contentTag('input', '', {type:'date', class:'span2', name:'<%= i %>'}) @>
<% } else { -%>
          <%= properties[i] %>
<% } -%>
        </div>
      </div>
<% } -%>
<% } -%>
    <div class="form-actions">
      <@- contentTag('input', 'Save', {type: 'submit', class: 'btn btn-primary'}) @>
      <@- contentTag('button', 'Remove', {type: 'submit', formaction: '/<%= names.url.plural %>/' + params.id + '?_method=DELETE', formmethod: 'POST', class: 'btn btn-danger'}) @>
    </div>
    </fieldset>
  </form>
</div>
