<div class="hero-unit">
  <h2 class="<%= properties['default'].name || "id" %>"><@= <%= names.property.singular %>.<%= properties['default'].name || "id" %> @></h2>
  <@- linkTo('Edit this <%= names.property.singular %>', edit<%= names.constructor.singular %>Path(params.id), {class: 'btn pull-right'}); @>
</div>

<h2><%= names.constructor.singular %> Properties</h2>
<@ for(var i in <%= names.property.singular %>) { -@>
<@ if(i !== 'saved') { -@>
<div class="row list-item">
  <div class="span4">
    <h3><@= i @></h3>
  </div>
  <div class="span8">
    <h3><i class="icon-list-alt"></i><span class="<@= i @>"><@= <%= names.property.singular %>[i] @></span></h3>
  </div>
</div>
<%% } -%>
<%% } -%>
