.row.title
  .span12
    h2 Community resources
.row
  .span6.box
    - for (var i=0; i<6; i++) {
      - star = stars.pop();
      .span2.avatar
        a(href="http://github.com/" + star.login, target="blank")
          img(src=star.avatar_url + "&s=300")
    - }
  .span6.info
    h3 Fork it on Github
    p Geddy has a vibrant community of users and contributors. Check out the source on github, join the mailing list, and get a jump start on your next app.
    a(href="http://github.com/mde/geddy") View the source, Luke.
.row
  - for (var i=0; i<6; i++) {
    - star = stars.pop();
    .span2.avatar
      a(href="http://github.com/" + star.login, target="blank")
        img(src=star.avatar_url + "&s=300")
  - }
.row
  .span6.info
    h3 Bug reports and feature requests
    p We love getting feedback from the community. Voice your opinion and hear about new features on the mailing list, contribute to our issue list, or go fix a bug yourself.
    a(href="http://github.com/mde/geddy/issues") Report a bug.
  .span6.box
    - for (var i=0; i<6; i++) {
      - star = stars.pop();
      .span2.avatar
        a(href="http://github.com/" + star.login, target="blank")
          img(src=star.avatar_url + "&s=300")
    - }
.row
  - for (var i=0; i<6; i++) {
    - star = stars.pop();
    .span2.avatar
      a(href="http://github.com/" + star.login, target="blank")
        img(src=star.avatar_url + "&s=300")
  - }
.row
  .span6.box
    - for (var i=0; i<6; i++) {
      - star = stars.pop();
      .span2.avatar
        a(href="http://github.com/" + star.login, target="blank")
          img(src=star.avatar_url + "&s=300")
    - }
  .span6.info
    h3 Example Applications
    p Take a look at our example apps in the Github repo. Learn how to requre authentication, hook your app up to MongoDB, or use Jade as your templating language.
    a(href="http://github.com/mde/geddy/tree/master/examples") Learn by example.

