<%= partial('layout_header'); %>
  <body class="application">
    <div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          <%- linkTo('Geddy App', mainsPath, {class: 'navbar-brand'}) %>
        </div>
        
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><%- linkTo('Home', mainsPath) %></li>
              <li><%- linkTo('Tutorial', 'http://geddyjs.org/tutorial') %></li>
              <li><%- linkTo('Docs', 'http://geddyjs.org/documentation') %></li>
            </ul>
          </div><!--/.navbar-collapse -->
      </div>
    </div>
    <div class="container">
      <%- displayFlash(flash); %>
      <%- render(); %>
    </div>
  </body>
<%= partial('layout_footer'); %>

